body {
    background-color: white;
    margin: 5px;
}

input {
    background-color: white;
}

textarea  {
    background-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.Tapenade {
    width: 95%;
    height: 100%;
}

.Button {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
}

.CallGraph {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
}

.CallGraphIframe {
    float: left;
    width: 100%;
    height: 40rem;
    margin: 0px;
    border: 0;
}

.Program {
    width: 100%;
    height: 30rem;
    margin: 0px;
    border: 0;
}

.ProgramIframe {
    width: 100%;
    height: 40rem;
    margin: 0px;
    border: 0;
}

.MsgIframe {
    width: 100%;
    height: 100%;
    margin: 5px;
    border: 0;
}
